wavio
sounddevice
langchain
crewai
crewai-tools
openai-whisper
TTS
transformers
sentence-transformers
faiss-cpu
langchain-community
alpha_vantage
streamlit
fastapi
uvicorn
soundfile
python-multipart
langchain-openai
mangum